{% extends "base.html" %}
{% block content %}
  <body class="createtrip">
    <script src="/static/createtrip.js"></script>
    <section>
    <div class="homelink">
      <a href="{{ url_for('index') }}">Home</a>
    </div>
    <div class="logout">
      <a href="{{ url_for('logout') }}"> Logout</a> 
    </div>
        {% if 'username' in session %}
          <p id="welcome">Welcome {{ username }}!</p>
        {% else %}
          <form action="/login" method="POST">
            <input type="username" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Log in">
          </form>
        {% endif %}
    <div>
      <br>
    <h2>Create a Trip</h2>
    <br>
    <form action="" method="post" name="trips">
      {{ form.hidden_tag() }}
        <p>
          Trip Name:<br>
          {{ form.tripname(size=120) }}<br>
        </p>
        <p>
          Destination:<br>
          {{ form.destination(size=120) }}<br>
        </p>
        <p>
          Dates:<br>
          {{ form.dates(size=120) }}<br>
        </p>
        <p>
          Budget:<br>
          {{ form.budget(size=120) }}<br>
        </p>
        <p>
          Friend Joining:</p>
          {{ form.friends(size=120, class_='browser-default') }}
          </select>
      </div>
      <p><input type="submit" value="Make Your Trip"></p>
    </form>
  </div>
</body>
{% endblock %}
