{% extends "base.html" %}

{% block content %}
<!-- Create your trip -->
<body class="createtrip">
    <script src="/static/createtrip.js"></script>
    <!-- Need to figure out what to do with home link -->
    <!-- <div class="homelink"> -->
    <!-- <a href="{{ url_for('index') }}">Home</a> -->
    <!-- </div>  -->
    <section>
        <div class="logout">
            <a href="{{ url_for('logout') }}"> Logout</a>
        </div>
    </section>

    <h2>Create a Trip</h2>


    {% if error %}
    <p class="error red-text">
        <strong> Error:</strong>
        {{ error }}
    </p>
    {% endif %}

    <!-- <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
                <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                <label for="first_name">First Name</label>
            </div> -->
            <form action="" method="post" name="createtrip">
                {{ form.hidden_tag() }}
                <p>
                    Trip Name:<br>
                    {{form.trip_name(size=120)}}<br>
                </p>
                <p>
                    Origin:<br>
                    (Looks TERRIBLE because Materialize's SELECT function is TERRIBLE)<br>
                    {{form.origin(class_="browser-default")}}<br>
                </p>
                <p>
                    Arrival Date: (MUST USE THIS FORMAT: YYYY-MM-DD)<br>
                    {{form.date_outbound(size=120)}}<br>
                </p>
                <p>
                    Departure Date: (SAME FORMAT; NO MORE THAN 15 DAYS)<br>
                    {{form.date_inbound(size=120)}}<br>
                </p>
                <p>
                    Budget: (NUMBERS ONLY, NO $ FIRST)<br>
                    {{form.budget(size=120)}}<br>
                </p>
                <p><input type="submit" value="Make Your Trip"></p>
            </form>

</body>
{% endblock %}
