{% extends "base.html" %}

{% block content %}
<!-- Create your trip -->
<body class="createtrip">
    <script src="/static/createtrip.js"></script>
    <!-- Need to figure out what to do with home link -->
    <!-- <div class="homelink"> -->
    <!-- <a href="{{ url_for('index') }}">Home</a> -->
    <!-- </div>  -->
    <section>
        <div id="logout">
            <a class="white-text" href="{{ url_for('logout') }}"> Logout</a>
        </div>
    </section>

    <h2>Create a Trip</h2>

    {% if error %}
    <p class="error white-text">
        <strong> Error:</strong>
        {{ error }}
    </p>
    {% endif %}

    <div class="row">
        <form action="" method="post" name="createtrip">
            {{ form.hidden_tag() }}
            <div class="col s12 m7 form_background">
                <p>
                    Trip Name:<br>
                    {{form.trip_name(size=120)}}<br>
                </p>
                <p>
                    Origin:<br>
                    {{form.origin(class_="browser-default")}}<br>
                </p>
                <p>
                    Departure Date (date format: yyyy-mm-dd):<br>
                    {{form.date_outbound(size=120)}}<br>
                </p>
                <p>
                    Return Date (date format: yyyy-mm-dd):<br>
                    Due to current system limitations, please select a return date within 15 days of your departure.<br>
                    {{form.date_inbound(size=120)}}<br>
                </p>
                <p>
                    Budget (numbers only):<br>
                    {{form.budget(size=120)}}<br>
                </p>
            </div>
            <div class="col s12 m7">
                <p><input type="submit" value="Make Your Trip"></p>
            </div>
        </form>
    </div>
</body>
{% endblock %}
