{% extends "base.html" %}

<!-- this page is to find and select flights for your trip! -->
{% block content %}
<body class="search">
    <section>
        <div id="logout">
            <a class="white-text" href="{{ url_for('home') }}"> Home </a>
            &nbsp;&nbsp;&nbsp;
            <a class="white-text" href="{{ url_for('logout') }}"> Logout</a>
        </div>
    </section>

    <div class="container">
        <section>
            <nav class="transparent z-depth-0">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a href="" class="breadcrumb">Location</a>
                        <a href="" class="breadcrumb">Flights</a>
                    </div>
                </div>
            </nav>
        </section>

        <h2>Pick a Flight</h2>

        {% if error %}
        <p class="error white-text">
            <strong> Error:</strong>
            {{ error }}
        </p>
        {% endif %}


        <div class="row">
            <!-- Actual flights info from Amadeus API -->
            {% for result in data %}
            <div class="col s12 m7">
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="https://images.trvl-media.com/media/content/expus/graphics/launch/home/tvly/150324_flights-hero-image_1330x742.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <!-- flight option 2 -->
                            <p>
                                Airline: {{result['airline']}}
                            </p>
                            <p>
                                Price: {{result['price']}} USD
                            </p>
                            <p>
                                Departure Date: {{result['departure_date']}}
                            </p>
                            <p>
                                Return Date: {{result['return_date']}}
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="{{ url_for('flights',
                            trip_id=trip_id,
                            airline=result['airline'],
                            destination=result['destination'],
                            departure_date=result['departure_date'],
                            return_date=result['return_date'],
                            cost=result['price']) }}">
                            Select</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}
