{% extends "base.html" %}

{% block navcontent %}
<a href="{{ url_for('home') }}" class="brand-logo center">Explorer</a>
<ul class="right">
    <li><a href="#">Logout</a></li>
</ul>
{% endblock %}

<!-- Choose a hotel for your trip! -->

{% block content %}
<body class="locations">
    <div class="container">
        <section>
            <nav class="transparent z-depth-0">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a href="" class="breadcrumb">Location</a>
                        <a href="" class="breadcrumb">Flights</a>
                        <a href="" class="breadcrumb">Hotels</a>
                    </div>
                </div>
            </nav>
        </section>
        <h2>Select Your Hotel</h2>

        <!-- <div class="row">
        <div class="col s2">Filter</div> -->
        <!--  Filters for hotel: wifi, type and breakfast -->
        <!-- <div class="col s3">
        <input type="checkbox" class="filled-in"/>
        <label>Free WiFi</label>
    </div>
    <div class="col s3">
    <label>Type of Hotels</label>
    <select class="browser-default">
    <option value="" disabled selected>Choose your option</option>
    <option value="1">Fancy Hotels</option>
    <option value="2">Motels</option>
    <option value="3">AirBnB</option>
</select>
</div>
<div class="col s3">
<input type="checkbox" class="filled-in"/>
<label>Including Breakfast</label>
</div>
</div> -->

<div class="row">
    <div class="col s12 m7">
        <div class="card horizontal">
            <div class="card-image">
                <img src="https://9968c6ef49dc043599a5-e151928c3d69a5a4a2d07a8bf3efa90a.ssl.cf2.rackcdn.com/293048-1.jpg">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <!-- option 1 -->
                    <p>Hotel: Hilton</p>
                    <p>Price: 125.00 USD</p>
                    <p>Location: Great location</p>
                </div>
                <div class="card-action">
                    <!-- INFORMATION BELOW WILL NEED TO BE UPDATE JUST AS THE CARD IS!!!!!! -->
                    <a href="{{ url_for('hotels',
                    trip_id=trip_id,
                    hotel='Hilton',
                    location='Great location',
                    check_in='2016-12-25',
                    check_out='2016-12-31',
                    cost='125.00') }}">Select This Fake Data</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m7">
        <div class="card horizontal">
            <div class="card-image">
                <img src="https://i.onthebeach.co.uk/v1/hotel_images/5aecefe7-0b37-4ffd-97d4-361cd8e62136/cover/1000/600/high/1.0/ac-hotel-barcelona-forum-by-marriott.jpeg">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <!-- option 2 -->
                    <p>{{data[0]['property_name']}}<p>
                        <p>{{data[0]['city']}}<p>
                            <p>{{data[0]['price']}}<p>
                            </div>
                            <div class="card-action">
                                <!-- INFORMATION BELOW WILL NEED TO BE UPDATE JUST AS THE CARD IS!!!!!! -->
                                <a href="{{ url_for('hotels',
                                trip_id=trip_id,
                                hotel=data[0]['property_name'],
                                location=data[0]['city'],
                                cost=data[0]['price']) }}">Select</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </body>
    {% endblock %}
