{% extends "base.html" %}
<!-- Choose a hotel for your trip! -->

{% block content %}
<body class="search">
    <section>
        <div id="logout">
            <a class="white-text" href="{{ url_for('home') }}"> Home </a>
            &nbsp;&nbsp;&nbsp;
            <a class="white-text" href="{{ url_for('logout') }}"> Logout</a>
        </div>
    </section>

    <div class="container">
        <section>
            <nav class="transparent z-depth-0">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a href="" class="breadcrumb">Location</a>
                        <a href="" class="breadcrumb">Flights</a>
                        <a href="" class="breadcrumb">Hotels</a>
                    </div>
                </div>
            </nav>
        </section>

        <h2>Select Your Hotel</h2>

        {% if error %}
        <p class="error white-text">
            <strong> Error:</strong>
            {{ error }}
        </p>
        {% endif %}

        <div class="row">
            {% for result in data %}
            <div class="col s12 m7">
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="https://i.onthebeach.co.uk/v1/hotel_images/5aecefe7-0b37-4ffd-97d4-361cd8e62136/cover/1000/600/high/1.0/ac-hotel-barcelona-forum-by-marriott.jpeg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>
                                Hotel: {{result['property_name']}}
                            </p>
                            <p>
                                Location: {{result['city']}}
                            </p>
                            <p>
                                Total Price: {{result['price']}}
                            </p>
                        </div>
                        <div class="card-action">
                            <!-- INFORMATION BELOW WILL NEED TO BE UPDATE JUST AS THE CARD IS!!!!!! -->
                            <a href="{{ url_for('hotels',
                            trip_id=trip_id,
                            hotel=result['property_name'],
                            location=result['city'],
                            cost=result['price']) }}">
                            Select</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

</body>
{% endblock %}
