{% extends "base.html" %}

{% block navcontent %}
<a href="{{ url_for('home') }}" class="brand-logo center">Explorer</a>
<ul class="right">
    <li><a href="#">Logout</a></li>
</ul>
{% endblock %}

{% block content %}
<body class="locations">
    <div class="container">
        <section>
            <div class="col s12">
                <a href="#!" class="breadcrumb blue-text text-darken-2">Location</a>
            </div>
        </section>
        <h2>Pick a Location</h2>

        <div class="row">
            <div class="col s2">Filter</div>
            <div class="col s3">
                <input type="checkbox" class="filled-in"/>
                <label>Domestic Locations Only</label>
            </div>
            <div class="col s3">
                <label>Type of Locations</label>
                <select class="browser-default">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Exotic</option>
                    <option value="2">Urban</option>
                    <option value="3">Nature</option>
                </select>
            </div>
            <div class="col s3">
                <input type="checkbox" class="filled-in"/>
                <label>Nearby (no flights needed)</label>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m7">
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://lorempixel.com/200/200/city/3">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>Barcelona</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Select</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m7">
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://lorempixel.com/200/200/nature/3">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>Sicily</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Select</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
