{% extends "base.html" %}
{% block content %}
<body class="login">

  <div class= "login-heading">
    <h2>Login</h2>
  </div>

  {% if error %}
    <p class="error red-text">
      <strong> Error:</strong>
      {{ error }}
    </p>
  {% endif %}

  <form class="form1" action="" method="post" name="login">
  	{{ form.hidden_tag() }}
    <p>
    	Email:<br>
    	{{form.email(size=120)}}<br>
    </p>
    <p>
    	Password:<br>
    	{{form.insecure_password(size=120)}}<br>
   	</p>
  	<p>
  		<input type="submit" value="Login">
  	</p>
  </form>
</body>
{% endblock %}
