{% extends "base.html" %}
{% block content %}

<!-- View all your trips and start a new one from here -->

<body class="trips">
  <section>
    <!-- <div class="homelink">
      <a href="{{ url_for('index') }}">Home</a>
    </div> -->
    <div class="logout">
      <a href="{{ url_for('logout') }}"> Logout</a> 
    </div>
  </section>
  <div>
      {% if 'username' in session %}
    <p id="welcome"> Welcome {{ username }}!</p>
    {% else %}
      <form action="/login" method="POST">
        <input type="username" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Log in">
      </form>
    {% endif %}
  </div>
  <br>
  <br>
  <div>
  <h2>Create a Trip</h2>
  <p><a href="{{ url_for('createtrip') }}">Create a Trip</a></p>
  <br>
  <br>
  <h2> See your existing trips</h2>
    <table>
    <tr>
      <th>Trip Name</th>
      <th>Date</th>
      <th>Budget</th>
      <th>Destination</th>
      <th>Flight</th>
      <th>Hotel</th>
    </tr>
    {% for trip in trips %}
    <tr>
      {% for detail in trip %}
        <td>
          {{ detail }}
        </td>
      {% endfor %}
      <script>console.log({{ trip }})</script>
      <td><a href="{{ url_for('remove', trip_id=trip['trip_id']) }}">Remove Trip</a></td>
    {% endfor %}
    </table>

  <br>
  <br>
  </div>
  <script type="text/javascript" src="/static/_js.js"> </script>
</body>
{% endblock %}
